
html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}

h1 {
  text-align: center;
  padding: 20px;
  color: white;
}

p {
  text-align: center;
  color: white;
}
canvas {
  margin: auto;
  display: block;
  border-style: solid;
  border-color: green;
  padding: 20px
}

button {
  margin: auto;
  display: block;
  padding: 20px;
  color: white;
  border-color: green;
  background-color: black;
  border-style: solid;
}